/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Meyer reset above */

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: var(--flair-color);
    text-decoration-thickness: 3px;
}

:root {
    font-family: "Roboto", system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --padding: max(1rem, 2.5vw)
}

:root.light {
    --white-text: white;
    --grey-text: rgb(70, 70, 70);
    --dark-text: black;
    --back-color: #E2E8F0;
    --shadow-color: #555555;
    --header-color: white;
    --flair-color: #CF742F;
    --sidebar-color: black;
    --content-shadow-color: black;

    --search: url(./icons/search.svg);
    --notifications: url(./icons/notifications.svg);
    --fav: url(./icons/fav.svg);
    --watch: url(./icons/watch.svg);
    --share: url(./icons/share.svg);
    --toggle-theme: url(./icons/dark.svg);
}

:root.dark {
    --white-text: black;
    --grey-text: rgb(160, 160, 160);
    --dark-text: white;
    --back-color: #6B6E70;
    --shadow-color: #CF742F;
    --header-color: black;
    --flair-color: #CF742F;
    --sidebar-color: black;
    --content-shadow-color: white;

    --search: url(./icons/search-white.svg);
    --notifications: url(./icons/notifications-white.svg);
    --fav: url(./icons/fav-white.svg);
    --watch: url(./icons/watch-white.svg);
    --share: url(./icons/share-white.svg);
    --toggle-theme: url(./icons/light.svg);
}

#toggle-theme{
    background: var(--toggle-theme) no-repeat center;
    padding: 10px;
    align-self: center;
}

body {
    display: grid;
    grid: 1fr 5fr / minmax(200px, 17vw) 1fr;
    height: 100vh;
}

.bold-font {
    font-weight: 800;
    font-size: 1.3rem;
}

.header {
    color: var(--dark-text);
    padding: 1vw;
    padding-bottom: 4vh;
    grid-column: 2;
    background-color: var(--header-color);
    box-shadow: 5px 5px 5px var(--shadow-color);
    z-index: 1;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: min(3vw, 1.5rem);
    gap: 1vw 2vw;
}

.search-container {
    display: flex;
    gap: 1vw 2vw;
}

.header-bottom {
    display: grid;
    grid: 2fr / minmax(4rem, 8vw) 1fr 25vw;
    align-items: center;
    gap: 1vw 2vw;

}

.greeting,
.username {
    font-size: calc(0.8rem + 0.6vw);
}

.greeting-username {
    font-size: calc(1rem + 0.7vw);
    grid-area: 2 / 2;
}

input {
    background-color: var(--back-color);
    border-radius: 20px;
    border: none;
    align-self: center;
    height: 1.5rem;
    padding-left: 0.4rem;
    width: 50vw;
}

.add-content {
    display: flex;
    gap: 5%;
    grid-row: span 2;
    justify-content: space-around;
}

.new,
.upload,
.share {
    color: white;
    padding: calc(0.4rem + 0.4vw);
    width: 6ch;
    background: linear-gradient(310deg, var(--sidebar-color) 65%, var(--flair-color));
    border-radius: 15rem;
    text-align: center;
    font-size: max(0.8rem, 0.8vw);
    border: 1px solid var(--grey-text);
}

.new {
    justify-self: right;
}

.upload {
    justify-self: center;
}

.share {
    justify-self: left;
}

.sidebar {
    padding: clamp(0.1rem, 1vw, 1rem);
    background: linear-gradient(285deg, var(--sidebar-color) 65%, var(--flair-color));
    color: white;
    grid-column: 1;
    grid-row: 1 / 3;

    display: grid;
    grid: 60px 50px repeat(2, minmax(15rem, 35vh)) / 50px 1fr;
}

.sidebar-top {
    display: grid;
    grid: repeat(6, 1fr) / 40px 1fr;
    grid-column: span 2;
    grid-area: 3 / 1 / 4 / 2;
}

.sidebar-bottom {
    display: grid;
    grid: repeat(3, 40px) / 40px 1fr;
    grid-column: span 2;
    align-self: start;
    gap: 0.5rem 0ch;
    grid-area: 4 / 1 / 5 / 2;
    align-self: center;
}

.container {
    color: var(--dark-text);
    padding: var(--padding);
    background-color: var(--back-color);

    display: grid;
    grid-template-columns: 3fr 1fr;
/*     grid-template-rows: 1.5rem 1fr repeat(2,1.5rem) 1fr; */
    gap: 1vw 2vw;
}

.content {
    grid-area: 2 / 1 / 6 / 2 ;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 2vw;
}

.recipe-content {
    grid-area: 2 / 1 / 6 / 2 ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 2vw;
}

.content-block,
.recipe-image,
.ingredients,
.steps {
    background-color: var(--header-color);
    color: var(--dark-text);
    border-radius: 10px;
    padding: var(--padding);
    line-height: 2.5ch;
    border-left: 1vw solid var(--flair-color);
/*     display: grid;
    grid-template-columns: 3fr repeat(3, 1fr);
    grid-template-rows: 1fr 5fr 30px; */
}

.content-block {
    display: flex;
    flex-direction: column;
}

.ingredients strong{
    font-weight: bold;
}

.ingredients p {
    padding-top: 1rem;
}

.steps {
    grid-column: span 2;
}

.content-block:hover {
    box-shadow: 2px 2px var(--content-shadow-color);
}

.content-text {
    grid-column: span 4;
    overflow: hidden;
    color: var(--grey-text);
    font-size: calc(0.625rem + 0.4vw);
    padding-top: 1rem;
}

.card-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid var(--flair-color);
}

.content-header,
.projects-header,
.announcement-header,
.trending-header {
    align-self: center;
}

.content-header {
    padding-bottom: 1rem;
}

.project-icons {
    grid-column: 2 / 3;
    display: block;
}

.info {
    color: var(--dark-text);
    grid-area: 1 / 2 / 3 / 3 ;
    display: grid;
    grid-template-rows: 2rem min-content 2rem min-content;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.announcements-header {
    grid-area: 1 / 2;
}

.announcements {
    grid-area: 2 / 2;
    padding: var(--padding);
    line-height: 2.5ch;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 2vw;
}

.announcements,
.trending {
    background-color: var(--header-color);
    border-radius: 10px;
}


.announcement-1-content,
.announcement-2-content {
    padding-bottom: 3vw;
    border-bottom: 1px solid var(--flair-color);    
}

.announcement-1,
.announcement-2,
.announcement-3 {
    align-self: center;
}



.announcement-1-content,
.announcement-2-content,
.announcement-3-content {
    color: var(--grey-text);  
    font-size: calc(0.625rem + 0.4vw); 
}

.trending {
    display: grid;
    grid-area: 5 / 2;
    grid-template-columns: 50px 1fr;
    gap: 1.5rem 0rem;
    align-items: center;
    padding: var(--padding);
    line-height: 2.5ch;
}

.trending-header {
    grid-area: 4 / 2;
}

.at {
    display: inline-block;
}

.user-tag {
    color: var(--flair-color);
    font-style: italic;
    line-height: 3vh;
}

/* icons */

.dashboard-icon {
    background: url(icons/dashboard.svg) no-repeat center;
}

.home-icon {
    background: url(icons/home.svg) no-repeat center;
}

.profile-icon {
    background: url(icons/profile.svg) no-repeat center;
}

.messages-icon {
    background: url(icons/messages.svg) no-repeat center;
}

.history-icon {
    background: url(icons/history.svg) no-repeat center;
}

.tasks-icon {
    background: url(icons/tasks.svg) no-repeat center;
}

.communities-icon {
    background: url(icons/communities.svg) no-repeat center;
}

.settings-icon {
    background: url(icons/settings.svg) no-repeat center;
}

.support-icon {
    background: url(icons/support.svg) no-repeat center;
}

.privacy-icon {
    background: url(icons/privacy.svg) no-repeat center;
}

.search-icon {
    background: var(--search) no-repeat right;
    width: 1rem;
}

.notifications-icon {
    background: var(--notifications) no-repeat right;
    padding: 10px;
}

.fav-icon {
    background: var(--fav) no-repeat right;
    grid-column: 2 / 3;
}

.watch-icon {
    background: var(--watch) no-repeat center;
    grid-column: 3 / 4;
}

.share-icon {
    background: var(--share) no-repeat left;
    grid-column: 4 / 5;
}

.user {
    background: url(users/user.svg) no-repeat center;
    height: clamp(55px, 10vw, 65px);
    width: clamp(55px, 10vw, 65px);
    border: 2px solid var(--dark-text);
    border-radius: 100%;
    justify-self: right;
    grid-row: span 2;
}

.sml-user {
    background: url(users/sml-users/user.svg) no-repeat center;
    justify-self: center;
}

.username {
    align-self: center;
}

.user-1 {
    background: url(users/sml-users/user-1.svg) no-repeat center;
    border: 2px solid black;
    border-radius: 100%;
}

.user-2 {
    background: url(users/sml-users/user-2.svg) no-repeat center;
    border: 2px solid var(--dark-text);
    border-radius: 100%;
}

.user-3 {
    background: url(users/sml-users/user-3.svg) no-repeat bottom;
    border: 2px solid var(--dark-text);
    border-radius: 100%;
}

.user-4 {
    background: url(users/sml-users/user-4.svg) no-repeat center;
    border: 2px solid var(--dark-text);
    border-radius: 100%;
}

.sml {
    height: clamp(30px, 5vw, 35px);
    width: clamp(30px, 5vw, 35px);
    border: 2px solid var(--dark-text);
    border-radius: 100%;
}

/* sidebar */

.dashboard {
    align-self: center;
    font-size: 1.5rem;
}

.home,
.profile,
.messages,
.history,
.tasks,
.communities,
.settings,
.support,
.privacy {
    align-self: center;
}

.addUnderline {
    text-decoration: underline;
    text-decoration-color: var(--flair-color);
    text-decoration-thickness: 3px;
}


.addMovingBorder {
    border: solid 3px var(--flair-color);
    border-radius: 15px;
    animation: addBorders 0.3s linear;
  }
  
  @keyframes addBorders {
    0% {
      border: solid 3px rgba(255, 255, 255, 0);
      border-right: solid 3px var(--flair-color);
    }
    25% {
      border: solid 3px rgba(255, 255, 255, 0);
      border-right: solid 3px var(--flair-color);
    }
    25.02% {
      border: solid 3px rgba(255, 255, 255, 0);
      border-right: solid 3px var(--flair-color);
      border-bottom: solid 3px var(--flair-color);
    }
    50% {
      border: solid 3px rgba(255, 255, 255, 0);
      border-right: solid 3px var(--flair-color);
      border-bottom: solid 3px var(--flair-color);
    }
    50.02% {
      border: solid 3px rgba(255, 255, 255, 0);;
      border-right: solid 3px var(--flair-color);
      border-bottom: solid 3px var(--flair-color);
      border-left: solid 3px var(--flair-color);
    }
    75% {
      border: solid 3px rgba(255, 255, 255, 0);;
      border-right: solid 3px var(--flair-color);
      border-bottom: solid 3px var(--flair-color);
      border-left: solid 3px var(--flair-color);
    }
    75.02% {
      border: solid 3px var(--flair-color);
    }
  }


  .removeMovingBorder {
    border: solid 3px rgba(255, 255, 255, 0);
    border-radius: 15px;
    animation: removeBorders 0.3s linear;
  }
  
  @keyframes removeBorders {
    0% {
      border: solid 3px var(--flair-color);
      border-right: solid 0px rgba(255, 255, 255, 0);
    }
    25% {
      border: solid 3px var(--flair-color);
      border-right: solid 0px rgba(255, 255, 255, 0);
    }
    25.02% {
      border: solid 3px var(--flair-color);
      border-right: solid 0px rgba(255, 255, 255, 0);
      border-bottom: solid 3px rgba(255, 255, 255, 0);
    }
    50% {
      border: solid 3px var(--flair-color);
      border-right: solid 0px rgba(255, 255, 255, 0);
      border-bottom: solid 3px rgba(255, 255, 255, 0);
    }
    50.02% {
      border: solid 3px var(--flair-color);
      border-right: solid 0px rgba(255, 255, 255, 0);
      border-bottom: solid 3px rgba(255, 255, 255, 0);
      border-left: solid 3px rgba(255, 255, 255, 0);
    }
    75% {
      border: solid 3px var(--flair-color);
      border-right: solid 0px rgba(255, 255, 255, 0);
      border-bottom: solid 3px rgba(255, 255, 255, 0);
      border-left: solid 3px rgba(255, 255, 255, 0);
    }
    75.02% {
      border: solid 3px rgba(255, 255, 255, 0);
    }
  }

  .method-header {
    font-size: calc(0.625rem + 0.4vw); 
  }